<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cheese Emporium</title>
  </head>
  <body>
    <h1> Welcome to the Cheese Emporium!</h1>
      With your £19.99, you can buy <%= cheeseAmount %> blocks of cheese!
  </body>
</html>
