<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cheese Emporium</title>
  </head>
  <body>
    <h1> Welcome to the Cheese Emporium!</h1>
      <%= parsedData.rates.GBP %>
  </body>
</html>
